.section1 {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  text-align: center;
  justify-content: center;
  letter-spacing: 2px;
  margin: 25px;
  align-items: center;
  margin-top: 110px;
}
.section-title {
  font-weight: 900;
  flex-direction: column;
  font-size: 75px;
  text-transform: uppercase;
  transition: all 0.5s;
  color: $brandcolor1;
  line-height: 55px;

  span {
    color: $blackcolor1;
  }
}

.section-p {
  font-size: 18px;
  margin: 5px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;

  button {
    border: none;
    background: $brandcolor1;
    font-weight: 600;
    color: #f2f2f2;
    padding: 5px;
    font-size: 20px;
    border-radius: 5px;
    position: relative;
    box-sizing: content-box;
    transition: all 500ms ease;
    margin: 15px;
    text-transform: uppercase;
    align-items: center;
  }
  button:hover {
    background: rgba(0, 0, 0, 0);
    color: $brandcolor1;
    box-shadow: inset 0 0 0 3px $brandcolor1;
  }
}
.box-img {
  width: 70%;
  height: 70%;
}
