/**Black Palette**/
$blackcolor1: rgb(41, 41, 41);
$blackcolorpure: black;
$bgnavcolor: white;
$bgcolor: white;
$greycolor: rgb(179, 179, 179);

/**Brand colors**/

$brandcolor1: #9a2ea9;
$bgbrandcolor: #9a2ea9;

/** fonts**/
